<div class="header">
    <div class="header__section">
        <div class="header__item header__logo">
            <a href="/">КиноПоиск</a>
        </div>
        <div class="header__item header__button">
            <a href="/">Фильмы</a>
        </div>
        <div class="header__item header__button">
            <a href="/">Актеры</a>
        </div>
        <div class="header__item header__button">
            <a href="/">Поиск</a>
        </div>
    </div>
    <div class="header__section">
        {{#if isAuthorized}}
            <div class="header__item header__button">
                <a href="/me">Профиль</a>
            </div>
            <div class="header__item header__button">
                <a id="logout-button">Выйти</a>
            </div>
        {{else}}
            <div class="header__item header__button">
                <a href="/login">Войти</a>
            </div>
            <div class="header__item header__button">
                <a href="/signup">Регистрация</a>
            </div>
        {{/if}}
    </div>
</div>
