.movie_navbar {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 1024px;
    overflow: hidden;
    background-color: #313131;
}

.movie_navbar_inner{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.movie_navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.movie_navbar_item {
    float: left;
} 

.movie_navbar_item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.movie_navbar_item a:hover {
    background-color: black;
}

.movie_navbar_input{
    display: block;
    margin-left: 4px;
    border-radius: 4px;
    background-color:#626262;
}


.movie_navbar_input input {
    display: block;
    margin-top: 6px;
    padding: 8px 0 8px 16px;
    font-size: 15px;
    color: #fff;
    border: 0;
    outline: 0;
    background: 0 0;
}
.movie_navbar_input input:focus {
    background-color:#fff;
    color: #000;
    border-radius: 4px;
}

.movie_main{
    
    display: flex;
}

/* .movie_side_column{
    float: left;
    width: 16%;
} */

.movie_content_container{
    width: 66%;
    background-color: black;
}
