<div class="header">
    <div class="header__section">
        <div class="header__item header-logo">
            <a href="/">КиноПоиск</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Фильмы</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Актеры</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Поиск</a>
        </div>
    </div>
    <div class="header__section">
        <div class="header__item header-button">
            <a href="/login">Войти</a>
        </div>
        <div class="header__item header-button">
            <a href="/signup">Регистрация</a>
        </div>
    </div>
</div>

<div>
    <h1>Test</h1>
</div>
