<div class="button-box">
    <div id="current-button" class="button-wrap switcher-on-signup"></div>
    <a href="/login"><button type="button" class="toggle-button" id="login-button">Войти</button></a>
    <button type="button" class="toggle-button button-white-text" id="signup-button">Регистрация</button>
</div>

<div class="social-icons">
    <img src="public/img/fb.png"/>
    <img src="public/img/tw.png"/>
    <img src="public/img/gp.png"/>
</div>
