{{> navbar}}


<div class="main">
    <h3 class="main__section-name">Лучшие фильмы</h3>

    <div id="best-movies-carousel" class="main__slider-wrapper"></div>
    <a class="view-all" href="/movies/best/1">смотреть ТОП-100</a>

    <h3 class="main__section-name">По жанрам</h3>
    <div class="main__genres-selection">
        <div class="main__genres-list">
            {{#each available_genres}}
                <div class="genres-list__item-box">{{this}}</div>
            {{/each}}
        </div>
    </div>

    {{#if movies_by_genres_preview}}
        <div id="genre-movies-carousel" class="main__slider-wrapper"></div>
        <a href="/movies/genre/1/?filter=" id="main-genre-search-button" class="view-all">смотреть все</a>
    {{else}}
        {{#if (notEq movies_by_genres_preview undefined)}}
            <div class="main__message-empty">
                <p class="message-empty__text">
                    К сожалению, мы не нашли фильмы с таким фильтром!
                </p>
            </div>
        {{/if}}
    {{/if}}
</div>
