.form-box {
    width: 380px;
    position: relative;
    margin: 80px auto;
    background-color: white;
    padding: 4px 4px 32px 4px;
    border-radius: 16px;
}

.button-box {
    width: 240px;
    margin: 36px auto;
    position: relative;
    box-shadow: 0 0 20px 8px #FF61241F;
    border-radius: 32px;
    display: flex;
}

.toggle-button {
    width: 120px;
    padding: 12px 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.button-wrap {
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, #FF105F, #FF9900);
    border-radius: 32px;
    transition: .5s;
}

.social-icons {
    margin: 32px auto;
    text-align: center;
}

.social-icons img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7F7F7F3D;
    cursor: pointer;
    border-radius: 50%;
}

.signup-form, .login-form {
    margin: 0 auto;
}

.input-group {
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 12px 2px;
    margin: 4px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.valid-input {
    border: 1px solid lawngreen;
    border-radius: 4px;
}

.invalid-input {
    border: 1px solid orangered;
    border-radius: 4px;
}

.validation-hint {
    font-size: 12px;
    color: orangered;
}

.submit-button {
    width: 85%;
    padding: 12px 32px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #FF105F, #FF9900);
    border: 0;
    outline: none;
    border-radius: 32px;
    color: white;
}

.checkbox {
    margin: 24px 4px 32px 0;
}

.checkbox-label {
    color: #777;
    font-size: 12px;
}

/* classes for JS to move signup and login forms */

.login-form-inactive {
    left: -400px;
}

.signup-form-active {
    left: 50px;
}

.switcher-on-signup {
    left: 120px;
}

.button-white-text {
    color: white;
}
