.main-genre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-genres-genres-container {
    display: flex;
    flex-direction: row;
}

.main-genre-box {
    background-color: white;
    color: black;
    border: 1px;
    border-radius: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;
    user-select: none;
    font-size: 14px;
}

.genre-selected {
    background-color: gray;
    color: white;
}

.main-genre-search {

}

#main-genre-search-button {

}

