.main-genre-container {
    display: block;
}

.main-genres-genres-container {
    display: inline-block;
}

.main-genre-box {
    background-color: white;
    color: black;
    border-radius: 16px;
    padding: 5px;
    user-select: none;
}

.genre-selected {
    background-color: gray;
    color: white;
}

.main-genre-search {

}

#main-genre-search-button {

}

