.main-genre-container {

}

.main-genre-box {
    background-color: white;
    color: black;
    border-radius: 16px;
}

.genre-selected {
    background-color: gray;
    color: white;
}

.main-genre-search {

}

#main-genre-search-button {

}

