.movies-list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.movie-card {
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
    width: 90%;
    height: 120px;
    background-color: white;
    margin: 12px auto 50px auto;
    padding: 4px 0;
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.movie-card-left {
    width: 80px;
    height: 140px;
    margin: 0 auto
}

.movie-card-right {
    text-align: center;
}

.movie-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-top: -48px;
    box-shadow: 12px 12px 16px rgba(0, 0, 0, 0.5);
    transition: all .2s;
}

.movie-card-img:hover {
    margin-top: -52px;
}

.movie-card-title {
    font-size: 20px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.movie-card-title::before {
    content: attr(data-index) ".";
}

.tooltip {
    position: relative;
}

.tooltip-text {
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 0.3s;
    width: 120px;
    font-size: 12px;
    background-color: var(--secondary-text-color);
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 4px;
    position: absolute;
    visibility: hidden;
}

.tooltip-text::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -4px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent var(--secondary-text-color) transparent;
}

.tooltip:hover ~ .tooltip-text {
    opacity: 1;
    visibility: visible;
}

.movie-link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.genre-link {
    color: var(--secondary-text-color);
    text-decoration: none;
}

.movie-card-genre {
    color: var(--secondary-text-color);
    margin: 0 0 4px 0;
}

.card-info-link {
    text-decoration: none;
    font-size: 12px;
}

.card-info-link:hover {
    color: var(--accent-color);
}

.movie-card-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    color: var(--secondary-text-color);
    font-family: "FontAwesome";
    font-size: 24px;
}

.input-watched, .input-like {
    display: none;
}

.label-watched:before {
    content: "\f06e";
    cursor: pointer;
}

.label-like:before {
    content: "\f08a";
    cursor: pointer;
}

.input-watched:checked ~ .label-watched:before {
    color: deepskyblue;
}

.input-like:checked ~ .label-like:before {
    color: var(--button-gradient-first);
    content: "\f004";
}

.movie-card-input-watched:not(:checked):hover ~ .label-watched:before {
    color: black;
}

.movie-card-input-like:not(:checked):hover ~ .label-like:before {
    color: black;
}
