.settings-header {
    text-align: center;
    font-size: 24px;
}

.settings-box {
    width: 440px;
    position: relative;
    margin: 80px auto;
    background-color: white;
    padding: 32px 32px 32px 32px;
    border-radius: 16px;
}

.settings-table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
}

.settings-table-inner {
    overflow: auto;
    display: flex;
    flex-direction: row;
    width: 440px;
    min-height: 50px;
}

.settings-table-inner-left {
    width: 200px;
    display: flex;
    align-items: center;
}

.settings-table-inner-right {
    width: 240px;
    display: block;
}

.settings-save-button {
    margin-top: 24px;
}

.settings-errors {
    text-align: right;
}

