.settings-header {
    text-align: center;
    font-size: 24px;
}

.settings-box-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin: 80px auto;
    padding: 32px 32px 32px 32px;
    border-radius: 16px;
}

.settings-avatar-img {
    width: 250px;
    height: 250px;
}

.settings-avatar-box {
    width: 250px;
    height: 360px;
    position: relative;
    margin: 5px;
    background-color: white;
    padding: 32px 32px 32px 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.settings-avatar-container {
    width: 250px;
    height: 250px;
}

.settings-avatar-container-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.upload-file-button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.settings-box {
    width: 440px;
    position: relative;
    margin: 5px;
    background-color: white;
    padding: 32px 32px 32px 32px;
    border-radius: 16px;
}

.settings-table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

.settings-table-inner {
    overflow: auto;
    display: flex;
    flex-direction: row;
    width: 440px;
    min-height: 50px;
}

.settings-table-inner-left {
    width: 200px;
    display: flex;
    align-items: center;
}

.settings-table-inner-right {
    width: 240px;
    display: block;
}

.settings-save-button {
    margin-top: 24px;
}

.settings-errors {
    text-align: right;
}

