@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--white-text-color);
    font-family: Tahoma, sans-serif;
}

.header__section {
    display: flex;
    align-items: center;
}

.header__item {
    font-size: 20px;
    margin-left: 4px;
}

.header__item a {
    display: block;
    padding: 12px 16px;
    color: var(--white-text-color);
    text-decoration: none;
}

.header__item:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.header__button {
    cursor: pointer;
}

.main {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(20deg, var(--dark-primary-color) 10%, var(--light-primary-color) 100%);
    color: var(--primary-text-color)
}

.main__page-title {
    text-align: center;
    font-size: 32px;
    color: white;
    margin: 32px 0 60px 0;
}

.main__pagination-wrapper {
    padding: 10px;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.pagination-wrapper__button {
    font-size: 18px;
    padding: 12px 16px;
}

.pagination-wrapper__button:hover:not([disabled]) {
    background-color: #ddd;
    border: 2px solid #ddd;
}

