<div id="navbar"></div>


<div class="main">
    <div class="form-box">
        <div class="form-box__button-box">
            <div id="button-box__current-button" class="button-box__button-wrap"></div>
            <button type="button" class="button-box__toggle-button button-box__button_text_white"
                    id="login-button">Войти</button>
            <a href="/signup">
                <button type="button" class="button-box__toggle-button" id="signup-button">Регистрация</button>
            </a>
        </div>

        <form id="login" class="form-box__form form-box__input-group">
            <input name="username" type="text" class="form__input-field" placeholder="Имя пользователя">
            <input name="password" type="password" class="form__input-field" placeholder="Пароль">
            <p class="form__validation-hint form__send-form-hint" id="validation-hint-login"><em></em></p>
            <button type="submit" id="login-submit" class="form__submit-button">Вход</button>
        </form>
    </div>
</div>
