{{> navbar}}

<div class="main">
    <div class="form-box">
        {{> top_login_signup}}

        <form id="login" class="login-form input-group">
            <input name="username" type="text" class="input-field" placeholder="Имя пользователя">
            <input name="password" type="password" class="input-field" placeholder="Пароль">
            <input name="remember-me" id="remember-checkbox" type="checkbox" class="checkbox">
            <label for="remember-checkbox" class="checkbox-label">Запомнить меня</label>
            <p class="validation-hint send-form-hint" id="validation-hint-login"><em></em></p>
            <button type="submit" id="login-submit" class="submit-button">Вход</button>
        </form>
    </div>
</div>
