<div class="header">
    <div class="header__section">
        <div class="header__item header-logo">
            <a href="/">КиноПоиск</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Фильмы</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Актеры</a>
        </div>
        <div class="header__item header-button">
            <a href="/">Поиск</a>
        </div>
    </div>
    <div class="header__section">
        {{#if isAuthorized}}
            <div class="header__item header-button">
                <a href="/">Профиль</a>
            </div>
            <div class="header__item header-button">
                <a href="/login">Выйти</a>
            </div>
        {{else}}
            <div class="header__item header-button">
                <a href="/login">Войти</a>
            </div>
            <div class="header__item header-button">
                <a href="/signup">Регистрация</a>
            </div>
        {{/if}}
    </div>
</div>

    <div class="main">
        <div class="form-box">
            <div class="button-box">
                <div id="current-button" class="button-wrap"></div>
                <button type="button" class="toggle-button button-white-text" id="login-button">Войти</button>
                <a href="/signup">
                    <button type="button" class="toggle-button" id="signup-button">Регистрация</button>
                </a>
            </div>

            <div class="social-icons">
                <img src="public/img/fb.png" alt="Facebook"/>
                <img src="public/img/tw.png" alt="Twitter"/>
                <img src="public/img/gp.png" alt="Google"/>
            </div>

            <form id="login" class="login-form input-group">
                <input name="username" type="text" class="input-field" placeholder="Имя пользователя">
                <input name="password" type="password" class="input-field" placeholder="Пароль">
                <input name="remember-me" id="remember-checkbox" type="checkbox" class="checkbox">
                <label for="remember-checkbox" class="checkbox-label">Запомнить меня</label>
                <button type="submit" id="login-submit" class="submit-button">Вход</button>
            </form>
        </div>
    </div>