<div class="add-to-playlist-widget">
    <h3 class="add-to-playlist-widget__title">Добавить в плейлист</h3>
    {{#each userPlaylists}}
        <div class="add-to-playlist-widget__playlist-row">
            <label class="add-to-playlist-widget__label">
                {{this.playlistName}}
            </label>
            {{#if this.isAdded}}
                <input class="add-to-playlist-widget__checkbox" type="checkbox" data-id="{{../movieId}}" checked/>
            {{else}}
                <input class="add-to-playlist-widget__checkbox" type="checkbox" data-id="{{../movieId}}"/>
            {{/if}}
        </div>
    {{/each}}
</div>
