<div id="header" class="header">
    <div class="header__section">
        <div class="header__item header__logo">
            <a href="/">КиноПоиск</a>
        </div>
        {{#if authorized}}
            <div class="header__item header__button">
                <a href="/feed">Лента</a>
            </div>
        {{/if}}
    </div>

    <div class="header__section header__section_search">
        <div class="header__search">
            <input id="search-input" type="search" placeholder="Поиск..." class="header__search-input">
            <button id="search-button" type="submit" class="header__search-button">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="header__section">
        {{#if authorized}}
            <div class="header__item header__button">
                <a href="/user/{{getUsername}}">Профиль</a>
            </div>
            <div class="header__item header__button">
                <a id="logout-button">Выйти</a>
            </div>
        {{else}}
            <div class="header__item header__button">
                <a href="/login">Войти</a>
            </div>
            <div class="header__item header__button">
                <a href="/signup">Регистрация</a>
            </div>
        {{/if}}
    </div>
</div>
