<div class="main__accordion">
    <div id="tabs">
        {{#each playlists}}
            {{> playlistTab }}
        {{/each}}
    </div>
    <button id="create-playlist-button" class="fa-button create-playlist-button create-playlist-button_size_l">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Создать плейлист
    </button>
    <div id="create-playlist-container" class="create-playlist-container create-playlist-container_hidden">
        <input id="input-create-playlist" name="playlistName" type="text"
               class="create-playlist-container__input create-playlist-container__input_size_l"
               placeholder="Название плейлиста">
        <button id="submit-create-playlist"
                class="fa-button create-playlist-container__button create-playlist-container__button_size_l">
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </button>
        <button id="cancel-create-playlist"
                class="fa-button create-playlist-container__button create-playlist-container__button_size_l">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        </button>
    </div>
</div>
