.main__actor-content {
  width: 80%;
  margin: 40px auto 20px;
  padding: 32px 32px 32px 32px;
  border-radius: 16px;
  background-color: $movie-background-color;
}

.actor-content__header {
  font-size: 24px;
  margin: 12px 0;
  color: $primary-text-color;
}

.actor-content__grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'actor-left actor-center';
}

.grid-container {

  &__left {
    grid-area: actor-left;
  }

  &__left-inner {
    text-align: center;
    width: 100%;
  }

  &__center {
    grid-area: actor-center;
    display: inline-block;
    margin-left: 12px;
    border-left: 1px solid $movie-separator-color;
  }
}

.left-inner {

  &__actor-avatar-img {
    width: 90%;
    border-radius: 8px;
  }

  &__actor-button-like {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    border: 0;
    width: 90%;
    height: 40px;
    background: linear-gradient(to right, $button-gradient-first, $button-gradient-second);
    color: white;
    font-size: medium;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to right, $button-gradient-first-hover, $button-gradient-second-hover);
    }
  }
}

.center {

  &__actor-name {
    color: $primary-text-color;
    margin-bottom: 8px;
  }

  &__actor-movies {
    margin-top: 10px;
  }
}

.biography {

  &__text-container {
    font-size: 14px;
    margin-bottom: 12px;
  }

  &__text {
    color: $primary-text-color;
  }
}

.actor-info {

  &__biography {
    margin-top: 10px;
  }

  &__info-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }
}

.movies-list__movies-item {
  padding-bottom: 10px;
  border-bottom: 1px solid;
  border-bottom-color: rgba(55, 55, 55, 0.2);
}

.movies-item {

  &__title {
    text-decoration: none;
    font-size: 20px;
  }

  &__rating {
    font-size: 16px;
    color: $secondary-text-color;
  }
}


@media (max-width: 600px) {
  .actor-content__grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
            'actor-left'
            'actor-center';
  }
}
