.main__genres-selection {
    margin-left: 50px;
}

.main__genres-list {
    display: flex;
}

.genres-list__item-box {
    background-color: white;
    color: black;
    border: 1px;
    border-radius: 8px;
    padding: 4px 12px;
    margin: 0 8px;
    user-select: none;
    font-size: 14px;
}

.genre-selected {
    background: linear-gradient(to right, $button-gradient-first, $button-gradient-second);
    color: white;
}

.main__show-button {
    margin-top: 4px;
}
