.main {

  &__genres-selection {
    margin-left: 50px;
  }

  &__genres-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__show-button {
    margin-top: 4px;
  }
}

.genres-list__item-box {
  background-color: white;
  color: black;
  border: 1px;
  border-radius: 8px;
  padding: 8px 12px;
  user-select: none;
  font-size: 14px;
  font-family: "Comfortaa", sans-serif;
  cursor: pointer;
}

.genre-selected {
  background: linear-gradient(to right, $button-gradient-first, $button-gradient-second);
  color: white;
}
