.view-all {
    color: $transparent_white;
    margin: 0 12px;
    font-size: 14px;
    font-weight: bold;

    &_margin_l {
        @extend .view-all;
        display: inline-block;
        margin: 12px 0 8px 50px;
    }
}

.button-as-link {
    border: none;
    background: transparent;
    text-decoration: underline;
}
