.center {
  margin-left: auto;
  margin-right: auto;
}

.main {
  &__content-container {
    width: 80%;
    margin: 20px auto 20px auto;
    background-color: white;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    overflow: hidden;
  }

  &__reviews-separator {
    width: 80%;
    margin: 40px auto 40px auto;
  }
}

.content-container {
  &__movie-container, &__write-review {
    background-color: $movie-background-color;
    padding-bottom: 20px;
  }

  &__review-content {
    padding-bottom: 20px;
  }
}

.your-review__edit-button {
  margin-left: 12px;
}

.fa-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: inherit;
  vertical-align: middle;
}

.write-review {
  &__your-review {
    padding: 40px 0 0 40px;
    font-size: 24px;
    text-align: center;

    &_color_white {
      color: white;
    }
  }

  &__review-form-container {
    margin: auto;
    padding: 40px 0 40px 40px;
    width: 600px;
  }
}

.review-form {
  &__select-review-type {
    padding: 8px;
    margin-bottom: 8px;
  }

  &__input-review-title {
    font-size: 20px;
    font-weight: bold;
    color: white;

    &::placeholder {
      color: $secondary-text-color;
    }
  }

  &__input-review-content {
    font-size: 16px;
    height: 120px;
    color: white;

    &::placeholder {
      color: $secondary-text-color;
    }
  }
}

.review-body {
  &__title {
    margin: 20px 40px 0 40px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid;
  }

  &__content {
    margin: 20px 0 40px 40px;
    font-size: 16px;
  }
}

.review_background_positive {
  background-color: $positive-review-color;
}

.review_background_neutral {
  background-color: lightgrey;
}

.review_background_negative {
  background-color: $negative-review-background;
}

.movie-container {
  &__movie-flex {
    display: flex;
  }

  &__background-trailer {
    height: 270px;
  }
}

.background-trailer__img {
  height: 140%;
  box-shadow: 0 0 30px 30px $movie-background-color inset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.movie-flex {
  &__movie-flex-left {
    width: 30%;
    display: inline-block;
    align-content: center;
  }

  &__movie-flex-center {
    width: 50%;
    display: inline-block;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__movie-flex-right {
    width: 20%;
    margin-right: 24px;
    color: white;
    margin-top: 20px;
    text-align: right;
  }
}

.movie-flex-left__inner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.inner__img_position_left {
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.movie-flex-right__main-roles {
  margin-top: 48px;
}

.main-roles__actors-list {
  list-style-type: none;
}

.actors-list__item {
  color: white;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    color: $accent-color;
  }
}

.movie-flex-center {
  &__meta_info {
    font-size: 16px;
    line-height: 22px;
    color: white;
    margin: 16px 0 24px 50px;
  }

  &__movie_info {
    text-align: left;
    color: floralwhite;
  }

  &__title-box {
    margin-left: 50px;
    margin-top: 20px;
    color: white;
  }
}

.title-box__title {
  display: inline;
}

.right__movie-rating {
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 4px;
  font-size: 16px;
  color: white;
}

.positive-rating {
  background: $positive-rating;
}

.neutral-rating {
  background: $neutral-rating;
}

.negative-rating {
  background: $negative-rating;
}

.movie-info__info_row {
  display: flex;
  margin-left: 50px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255, 255, 255, 0.1);
}

.info-row {
  &__info_title {
    width: 156px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: $secondary-text-color;
  }

  &__info_link {
    color: white;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: $accent-color;
    }
  }
}

.info_value {
  color: $secondary-text-color;
  font-size: 14px;
}

.movie-flex-right {
  &__rate-movie {
    text-align: right;
  }

  &__delete-rating {
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    text-align: right;
    margin-bottom: 16px;
  }

  &__buttons {
    display: inline-flex;
    gap: 16px;
    color: white;
    font-family: "FontAwesome";
    font-size: 24px;
    margin-right: 40px;
  }
}

.buttons__movie-page-input-watched:not(:checked):hover ~ .buttons__label-watched:before {
  color: $secondary-text-color;
}

.buttons__movie-page-input-like:not(:checked):hover ~ .buttons__label-like:before {
  color: $secondary-text-color;
}

.rating-stars {
  &__input-star {
    display: none;
  }

  &__label-star {
    float: right;
    padding: 4px;
    font-size: 14px;
    color: aliceblue;
    transition: all .2s;
  }

  &__input-star:checked ~&__label-star:before {
    content: "\f005";
    color: #FD4;
    transition: all .25s;
  }

  &__max-star:checked ~&__label-star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }

  &__label-star:hover {
    transform: rotate(-15deg) scale(1.3);
  }

  &__label-star:before {
    content: "\f006";
    font-family: "FontAwesome";
  }
}
