.center {
  margin-left: auto;
  margin-right: auto;
}

.main {

  &__content-container {
    width: 80%;
    margin: 20px auto 20px auto;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.7);
    border-radius: $s-border-radius;
    overflow: hidden;
  }

  &__reviews-separator {
    width: 80%;
    margin: 40px auto 40px auto;
  }

  &__movie-page-section-heading {
    padding-top: 20px;
    margin-bottom: 12px;
    font-size: 24px;
    text-align: center;
  }
}

.content-container {

  &__movie-container {
    background-color: $movie-background-color;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-areas:
            "backdrop backdrop backdrop"
            "movie-left movie-center movie-right";
  }

  &__write-review {
    background-color: $movie-background-color;
    padding-bottom: 20px;
  }

  &__review-content {
    padding-bottom: 20px;
  }

  &__similar-movies {
    background-color: $movie-background-color;
    padding-bottom: 20px;
  }
}

.your-review__edit-button {
  margin-left: 12px;
}

.fa-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: inherit;
  vertical-align: middle;
}

.write-review {

  &__user-link {
    color: $primary-text-color;
  }

  &__review-form-container {
    margin: auto;
    width: 80%;
  }
}

.review-form {

  &__select-review-type {
    padding: 8px;
    margin-bottom: 8px;
  }

  &__input-review-title {
    font-size: 20px;
    font-weight: bold;

    &::placeholder {
      color: $secondary-text-color;
    }
  }

  &__input-review-content {
    font-size: 16px;
    height: 120px;

    &::placeholder {
      color: $secondary-text-color;
    }
  }
}

.review-form-container__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 48px;
}

.form__submit-review {
  width: 50%;
}

.review-body {

  &__title {
    margin: 0 40px;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid;
  }

  &__content {
    margin: 20px 0 40px 40px;
    font-size: 16px;
  }
}

.review_background_positive {
  background-color: $positive-review-color;
}

.review_background_neutral {
  background-color: $light-grey;
}

.review_background_negative {
  background-color: $negative-review-background;
}

.movie-container {

  &__background-trailer {
    grid-area: backdrop;
  }
}

.background-trailer__img {
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.movie-container {

  &__left {
    grid-area: movie-left;
  }

  &__center {
    border-left: 1px solid $whitish;
    grid-area: movie-center;
  }

  &__right {
    color: $primary-text-color;
    margin-top: 20px;
    margin-right: 24px;
    text-align: right;
    grid-area: movie-right;
  }
}

.movie-flex-left__inner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.inner {

  &__img_position_left {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  &__trailer-container {
    height: 200px;
  }
}

.movie-flex-right__main-roles {
  margin-top: 48px;
}

.main-roles__actors-list {
  list-style-type: none;
}

.actors-list {

  &__item {
    color: $primary-text-color;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: $accent-color;
      cursor: pointer;
    }
  }
}

.movie-flex-center {

  &__meta_info {
    font-size: 16px;
    line-height: 22px;
    color: $primary-text-color;
    margin: 16px 0 24px 50px;
  }

  &__movie_info {
    text-align: left;
  }

  &__title-box {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 12px;
    color: $primary-text-color;
  }
}

.title-box__title {
  display: inline;
}

.right__movie-rating {
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 4px;
  font-size: 16px;
  color: $white-color;
}

.positive-rating {
  background: $positive-rating;
}

.neutral-rating {
  background: $neutral-rating;
}

.negative-rating {
  background: $negative-rating;
}

.movie-info__info-row {
  display: flex;
  margin-left: 50px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid;
  border-bottom-color: $whitish;
}

.info-row {

  &__info-title {
    width: 156px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: $secondary-text-color;
  }

  &__info-value {
    color: $primary-text-color;
    text-decoration: none;
    font-size: 14px;
  }

  &__info-link {
    color: $primary-text-color;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: $accent-color;
    }
  }
}

.info_value {
  color: $secondary-text-color;
  font-size: 14px;
}

.movie-flex-right {

  &__rate-movie {
    text-align: right;
  }

  &__delete-rating {
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    text-align: right;
    margin-bottom: 16px;
  }

  &__buttons {
    display: inline-flex;
    gap: 16px;
    color: $primary-text-color;
    font-family: "FontAwesome";
    font-size: 24px;
    margin-right: 40px;
  }
}

.buttons {

  &__movie-page-input-watched:not(:checked):hover ~ &__label-watched:before {
    color: $secondary-text-color;
  }

  &__movie-page-input-like:not(:checked):hover ~ &__label-like:before {
    color: $secondary-text-color;
  }
}

.rating-stars {

  &__input-star {
    display: none;
  }

  &__label-star {
    float: right;
    padding: 4px;
    font-size: 14px;
    color: $primary-text-color;
    transition: all .2s;
  }

  &__input-star:checked ~ &__label-star:before {
    content: $filled-star-code;
    color: $max-star-color;
    transition: all .25s;
  }

  &__max-star:checked ~ &__label-star:before {
    color: $filled-star-color;
    text-shadow: 0 0 20px $max-star-shadow;
  }

  &__label-star:hover {
    transform: rotate(-15deg) scale(1.3);
  }

  &__label-star:before {
    content: $star-code;
    font-family: "FontAwesome";
  }
}


@media (max-width: 800px) {
  .content-container__movie-container {
    grid-template-columns: 1fr;
    grid-template-areas:
            "backdrop"
            "movie-left"
            "movie-center"
            "movie-right";
  }

  .main__content-container {
    width: 100%;
  }

  .movie-info__info-row {
    margin-left: 20px;
  }

  .movie-flex-center__title-box {
    margin-left: 20px;
  }

  .movie-flex-center__meta_info {
    margin-left: 20px;
  }
}
