.main {

  &__search-query {
    font-size: 20px;
  }

  &__search-card {
    position: relative;
    width: 30%;
    height: 200px;
    margin: 24px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $white-color;
    color: $primary-text-color;
    border-radius: $l-border-radius;
    box-shadow: 0 0 20px $transparent-black;
  }
}

.search-card {

  &__item-type {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    font-size: 14px;
    color: $secondary-text-color;

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }
  }

  &__avatar {
    width: 120px;
    height: (200px - 8px * 2);
    margin: 0 auto;
    padding: 8px 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $s-border-radius;
  }

  &__right {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__text {
    font-size: 20px;
  }

  &__link {
    text-decoration: none;
    color: $primary-text-color;
  }
}


