@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: $primary-color;
  color: $white-text-color;
  font-family: Tahoma, sans-serif;

  &__section {
    display: flex;
    align-items: center;
  }

  &__item {
    font-size: 20px;
    margin-left: 4px;
  }

  &__item a {
    display: block;
    padding: 12px 16px;
    color: $white-text-color;
    text-decoration: none;
  }

  &__item:hover {
    background-color: $accent-color;
    border-radius: $xs-border-radius;
  }

  &__logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  &__button {
    cursor: pointer;
  }
}

.main {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(20deg, $dark-primary-color 10%, $light-primary-color 100%);
  color: $primary-text-color;

  &__page-title {
    text-align: center;
    font-size: 32px;
    color: $white-color;
    margin: 32px 0 60px 0;
  }

  &__pagination-wrapper {
    padding: 10px;
    display: flex;
    gap: 16px;
    justify-content: center;
  }
}

.pagination-wrapper {

  &__button {
    font-size: 18px;
    padding: 12px 16px;
  }

  &__button:hover:not([disabled]) {
    background-color: $whitish;
    border: 2px solid $whitish;
  }
}
